<?xml version="1.0"?>
<configuration>
  <configSections>
    
    <!-- For Deployments -->
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VFOS.SystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="VFOS.SystemSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings> 
  </connectionStrings>
 
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <userSettings>
    <VFOS.SystemSettings>
      <setting name="STOREID" serializeAs="String">
        <value></value>
      </setting>
      <setting name="XMLRPCAPIURL" serializeAs="String">
        <value></value>
      </setting>
      <setting name="STORESECURITYKEY" serializeAs="String">
        <value></value>
      </setting>
      <setting name="PRINTERNAME" serializeAs="String">
        <value />
      </setting>
      <setting name="PRINTNOCOPIES" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="DOWNLOADINTERVAL" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="CONFIGURED" serializeAs="String">
        <value>0</value>
      </setting>
    </VFOS.SystemSettings>
  </userSettings>
  <applicationSettings>
    <VFOS.SystemSettings>
      <setting name="USERNAME" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="PASSWORD" serializeAs="String">
        <value>+UIt7ZQRqZvMYMeCzUT1MWhEgf8TA2DLdPPoMPws0yo=</value>
      </setting>
    </VFOS.SystemSettings>
  </applicationSettings>
</configuration>